@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500&display=swap');

$font-stack: 'Poppins';
$paragraph-text: 'Inter';
$headline-text: "Bungee", sans-serif;
$bread-text: "Roboto", sans-serif;

$primary-color: #464646;
$deviating-color: #F1B92A;
$deviating-light: #FFF9EA;
//$deviating-light: #e8ecee;
$deviating-standout: rgb(50, 163, 228);

$error: rgb(226, 106, 106);
$confirm: rgb(107, 199, 107);
$pending: rgb(247, 244, 75); 

$darker_color: darken($primary-color, 10%);
$darkest_color: darken($primary-color, 14%);
$lighter_color: lighten($primary-color, 10%);
$light_color: lighten($primary-color, 100%);
$detailcolor: lighten($primary-color, 30%);

$border-style: 1px solid;

@mixin width($width, $max) {
    width: $width;
    max-width: $max;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin color($bkgd, $text) {
    background-color: $bkgd;
    color: $text;
}

@mixin align($display, $align, $justify) {
    display: $display;
    align-items: $align;
    justify-content: $justify;
}

@mixin space($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

@mixin border($border, $radius) {
    border: $border;
    border-radius: $radius;
}

@mixin boxspace($padding, $box) {
    padding: $padding;
    box-sizing: $box;
}

@mixin text($size, $align) {
    font-size: $size;
    text-align: $align;
}

@mixin textapp($font, $color) {
    font-family: $font;
    color: $color;
}

@mixin placing($position, $top, $left) {
    position: $position;
    top: $top;
    left: $left;
}

@mixin grid($columns, $rows) {
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}

@mixin bgspace($bg, $space) {
    background-color: $bg;
    padding: $space;
}